

html,body {
	
	height:100%;
	width:100%;
	padding: 0px;
	margin: 0px;

}

.notemaker_container {
	
	width: 200%;
	height: 100%;

    background: #f9fcf7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */

    overflow: hidden;
	position: absolute;
	left:-50%;
	top:0px;
}

.notemaker_animating {
	-webkit-transition: all 200ms linear;
}

.templates {
	
	display: none; 
}

@font-face {
	font-family: time_burner;
	src: url('timeburner_regular.ttf');
}


