
.page {
    position:relative;
    z-index:1;
    width:355px;
    height:100%;
    overflow:hidden;
}

.page_item {
	position: absolute;
	float:left;
    width: 350px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.topics {
    height: 50px;
}

.topic {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}

.topic .topic_parts {
    background-color: rgb(59,97,142);
    position: absolute;
    top: 0px;
}

.topic .previous_topic {
    width: 50px;
    height: 100%;
}

.topic .name {
    left: 51px;
    height: 100%;
    width: 248px;
}

.topic .menu {
    width: 50px;
    height: 100%;
    left: 300px;
}

.sub_topics {
    height: 20%;
    overflow: hidden;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    background-color: #DDD;
}

.notes {
    height: 20%;
    background-color: #CCC;
}

.quick_text_area {
    height: 50%;
}

.list{
    font-size: 1.1em;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 368px;
}

.list_item_wrapper {
    width:100%;
    height:50px;
}

.list_item {
    width:95%;
	height: 50px;
	/*
	position:absolute;
    top:0px;
    left:0px;
    */
}
