

.page_item {
	position: relative;
	float:left;
    width: 95%;	
    padding: 0px;
    margin: 0px;
}

.topics {
    height: 10%;
    border: 1px solid gray;
}

.sub_topics {
    height: 20%;
    border: 1px solid blue;

    overflow: hidden;

    z-index: 0;
    -webkit-overflow-scrolling: touch;
}

.notes {
    height: 20%;
    border: 1px solid orange;
}

.quick_text_area {
    height: 50%;
    border: 1px solid pink;
}

.list{
    font-size: 1.1em;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.list_item_wrapper {
    width:100%;
    height:50px;
}

.list_item {
    width:95%;
	height: 50px;
	/*
	position:absolute;
    top:0px;
    left:0px;
    */
}
