

html,body {
	
	height:100%;
	width:100%;
	padding: 0px;
	margin: 0px;

}

.notemaker_wrapper {
	padding:0px;
    margin: 0px;
    position: absolute;

    height: 100%;
    width: 100%;

    top: 0px;
    left: 0px;
}

.notemaker_animating {
	-webkit-transition: all 200ms linear;
}

.templates {
	
	display: none; 
}

@font-face {
	font-family: time_burner;
	src: url('timeburner_regular.ttf');
}

@font-face {
	font-family: segan_light;
	src: url('Segan-Light.ttf');
}


