
.page {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 1;
    width: 355px;
    height: 100%;
    overflow: hidden;
    border-left: 2px solid rgb(201,137,9);
    border-right: 2px solid rgb(59,97,142);
}

.page_item {
    position: absolute;
    float: left;
    width: 350px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: Georgia;
    color: white;
    line-height: 31px;
    text-indent: 8px;
}

.topics {
    height: 40px;
    width: 343px;
    left: 3px;
}

.topic {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 5px;
}

.topic .topic_parts {
    background-color: rgb(59,97,142);
    position: absolute;
    top: 0px;
}

.topic .previous_topic {
    width: 50px;
    height: 100%;
}

.topic .name {
    left: 52px;
    height: 100%;
    width: 235px;
    font-size: 37px;
}

.topic .menu {
    width: 50px;
    height: 100%;
    left: 289px;
}

.sub_topics {
    height: 20%;
    overflow: hidden;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    left: 5px;
}

.sub_topics .list {
    height: 105%;
}

.sub_topic_inner, .note_inner {
    background-color: rgb(59,97,142);
    margin-left: 79px;
    position: relative;
    height: 26px;
    width: 350px;

    -webkit-transition: all 100ms cubic-bezier(0,0,0.25,1);
}

.sub_topic_inner:hover {
    /* background-color: rgba(59,97,142,0.5); */
    -webkit-transform: translate(-50px,0px);
}

.note_inner {
    background-color: rgb(201,137,9);
    margin-left: -82px;
    text-align: right;
    padding-right: 9px;
}

.note_inner:hover {
    /* background-color: rgba(201,137,9,0.5); */
    -webkit-transform: translate(50px,0px);
}

.notes {
    height: 20%;
}

.quick_text_area {
    height: 50%;
}

.list{
    font-size: 1.1em;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 368px;
}

.list_item_wrapper {
    width:100%;
    height:50px;
}

.list_item {
    width:95%;
	height: 27px;
}

.input_blind {
	position: absolute;
	z-index:10;
	width:100%;
	height:100%;
	background-color: black;
}

.input_blind .input_new_sub_topic {
	background-color: rgb(59,97,142);
	width: 85%;
	position: absolute;
	top: 86px;
	left: 53px;
	height: 140px;
	border: 3px solid white;
	border-right: 0px;
}

.input_new_sub_topic .name {
	position: absolute;
	left: 20px;
	font-size: 25px;
	width: 253px;
	top: 17px;
}

.input_new_sub_topic .add,
.input_new_sub_topic .cancel {
	
	position: absolute;
	color: white;
	background-color: rgb(201,137,9);
	width: 82px;
	height: 32px;
	left: 58px;
	top: 77px;
	border: 2px solid white;
	text-align: center;
	line-height: 32px;
}

.input_new_sub_topic .add:hover,
.input_new_sub_topic .cancel:hover {
	background-color: rgb(171,108,0);
}

.input_new_sub_topic .cancel {
	left: 155px;
}